html {
 font-family: "Helvetica", "Helvetica Neue", "Arial";
}

body {
    margin: 0;
}

.section {

    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    /*color : #3d3d57;*/
    /*border: red solid 1px;*/
    /*width : 50vw;*/
}

.title {
    display: flex;
    justify-content: center;
    width : 50vw;

    color : #3d3d57;
    border: #02ffb9 solid 0px;
    margin-bottom: 1rem;
}

.local_title {
    display: flex;
    justify-content: left;
    width : 50vw;

    color : #3d3d57;
    border: #f57918 solid 0px;
    margin-bottom: 1rem;

}

.main {
    color : #3d3d57;
    border: #ae4773 solid 0px;
    width : 50vw;
}

.features {
    color : #3d3d57;
    border: #0062ff solid 0px;
    width : 50vw;
}